<div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
            <%= form_for(:session, url: login_path) do |f| %> 
            <h1>Login Form</h1>
            <div>
                <%= f.email_field :email, :placeholder => "Email", class:" form-control", :required => true %>
              
            </div>
            <div>
                <%= f.password_field :password, :placeholder => "Password", class:" form-control", :required => true %> 
            </div>
            <div>
                <%= f.submit "Log in", class: "btn btn-default submit" %>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">New to site?
                <a href="#toregister" class="to_register"> Create Account </a>
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

                <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
            <% end %>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
      <div id="register" class="animate form">
        <section class="login_content">
  <%=form_for @user1, html: {class: "form-horizontal "}  do |f| %>
            <h1>Create Account</h1>
            <div>
                <%= f.text_field :first_name , :placeholder => "First Name", class:"form-control", :required => true %>
            </div>
            <div>
                <%= f.text_field :last_name , :placeholder => "Last Name", class:" form-control", :required => true %>
            </div>
            <div>
                <%= f.email_field :email , :placeholder => "Email : someone@example.com", class:" form-control", :required => true%>
            </div>
            <div>
                <%= f.password_field :password , :placeholder => "Password", class:" form-control", :required => true%>
            </div>
            <div>
                <%= f.submit "Create an account", class: "btn btn-default submit" %>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
            <p class="change_link">Already a member ?
              <a href="#tologin" class="to_register"> Log in </a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>
                <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
            <%end%>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
    </div>
  </div>
  
  
  
  
  


